language: python

addons:
  apt:
    packages:
      - ant

python:
 
  - "2.7"
  - "3.6"
  
script:

  - cd testing
  - ant test-valid -Dpython=python
  - ant test-invalid -Dpython=python
  